<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
	    <!-- NB: the next line must be placed _outside_ of the sectionGroup statements -->
		<section name="ClaimTransformer" type="ClaimTransformer.RulesConfiguration, ClaimTransformer"/>
	</configSections>

    <!-- the next section must be placed _outside_ of any other sections
         such as <system.web> or <system.diagnostics>, just inside the <configuration> tag -->
	<ClaimTransformer>
	    <!-- custom claims added for every user, regardless of organization claims -->
		<GlobalMappings>
			<add
				Name="urn:mace:surffederatie.nl:attribute-def:nlEduPersonHomeOrganization"
				Value="My Institute"
			/>
			<add
				Name="urn:mace:dir:attribute-def:eduPersonEntitlement"
				Value="urn:mace:dir:entitlement:common-lib-terms"
			/>
		</GlobalMappings>
	    <!-- 
	    	custom claims added for every user with the specified organizational
	    	group claim name remember to create the organizational group claim
	    	with that name, and to map/extract it from an actual AD group in the
	    	ADFS account store configuration
	    -->
		<GroupMappings>
			<add
				Group="Administrators"
				Name="urn:mace:dir:attribute-def:eduPersonEntitlement"
				Value="urn:surfnet:surfmedia"
			/>
			<add
				Group="Administrators"
				Name="urn:mace:dir:attribute-def:eduPersonAffiliation"
				Value="employee"
			/>
		</GroupMappings>
		
	    <!-- 
	    	authorization based on organization claims
	    	if Mode=include:
	    	  users belonging to the specified groups are allowed, all others are denied
	    	if Mode=exclude:
	    	  users belonging to the specified groups are denied, all others are allowed
	    	otherwise: everyone is allowed!
	    	
	    	Message is the message that will be displayed upon negative authorization decision

	    	Remember to create an organizational group claim in the ADFS GUI for each group
	    	that you specify here and to map it to an AD group entry in the account store.
	    	
	    -->
	    <GroupAuthorization Mode="include" Message="Geen toegang vanwege onjuiste groepsrechten.">
			<add
				Group="Administrators"
			/>
	    </GroupAuthorization>

      <!-- 
			  Prefixes are placed before the original claim value. The "Name" specifies the organization
			  claim name and "Value" specifies the prefix placed before the original organization
			  claim value; Eg. the example would result in a value "123hansz"
		  -->
      <Prefixes>
        <add
          Name="urn:mace:dir:attribute-def:uid"
          Value="123"
          />
      </Prefixes>

      <!-- 
	    	  The ClaimBuilder can build one claim, containing other claim values and string constants.
	    	  The "ClaimName" is the name of the newly built claim. The "Key" represent an index, just number it.
	    	  The "ClaimValue" is the name of the original organization claim to retrieve the value from.
	    	  The "StringValue" is a string constant, used in the final value of the new claim
	      -->
      <Claimbuilder ClaimName="urn:mace:dir:attribute-def:cn">
        <add Key="1" ClaimValue="urn:mace:dir:attribute-def:givenName" />
        <add Key="2" StringValue=" " />
        <add Key="3" ClaimValue="MiddleName" />
        <add Key="4" StringValue=" " />
        <add Key="5" ClaimValue="urn:mace:dir:attribute-def:sn" />
      </Claimbuilder>

	</ClaimTransformer>

</configuration>
